<p style="color: green"><%= notice %></p>

<%= render @video_upload %>

<div>
  <%= link_to "Edit this video upload", edit_video_upload_path(@video_upload) %> |
  <%= link_to "Back to video uploads", video_uploads_path %>

  <%= button_to "Destroy this video upload", @video_upload, method: :delete %>
</div>
